:root {
    --grey: #efefef;
}

* {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
}


.logo img {
    width: 180px;
    height: 180px;
    padding: 15px;
    border-width: 1px;
    border-style: dotted;
    border-image: linear-gradient(to left, #ffffff 0%, var(--grey) 100%) 1;
}

.detail {
    width: 100%;
    padding-left: 30px;
}

.ui-datascroller .ui-datascroller-item {
    border-right: 1px solid var(--grey);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

#ads {
    padding-left: 30%;
    padding-right: 30%;
}

.ui-datascroller-header.ui-widget-header.ui-corner-top {
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sort-ads-button {
    float: right;
}

.sort-ads-button .ui-button-text {
    font-weight: normal;
}

.ui-datascroller-content {
    padding: 0 !important;
    border: transparent !important;
}

.ad-left-column {
    /*display: contents !important;
*/}

.ad-right-column {
    width: max-content !important;
    float: right !important;
    padding-right: 20px !important;
}

.ad-date-row {
    font-size: 14px;
    padding-bottom: 15px !important;
}

.ad-price-row {
    width: max-content !important;
}

.coursecode-row {
    width: max-content !important;
}

.book-name-row {
    font-weight: bolder;
    font-size: 21px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: max-content !important;
}