.sign-in-form {
    margin: 0 auto;
    max-width: 340px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    border: solid 1px lightgrey;
    box-shadow: 2px 2px 4px lightgrey;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.sign-in-h1 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0px;
    font-family: Roboto;
    font-weight: lighter;
    font-size: 46px;
}

.sign-in-h2 {
    color: grey;
    font-weight: lighter;

}

* {
    font-family: Roboto;
    font-weight: lighter;
}