.sign-in-form {
    margin: 0 auto;
    max-width: 340px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    border: solid 1px lightgrey;
    box-shadow: 2px 2px 4px lightgrey;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.sign-in-h1 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0px;
    font-family: Roboto;
    font-weight: lighter;
    font-size: 48px;
}

.sign-in-h2 {
    color: grey;
    font-weight: lighter;
}

#input-group-addon {
    -webkit-border-radius: 6px 0px 0px 6px !important;
    -moz-border-radius: 6px 0px 0px 6px !important;
    border-radius: 6px 0px 0px 6px !important;
}

#input_login-password {
    height: 44px !important;
    -webkit-border-radius: 0px 6px 6px 0px !important;
    -moz-border-radius: 0px 6px 6px 0px !important;
    border-radius: 0px 6px 6px 0px !important;
}

.wrong-message {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    margin-bottom: 15px !important;
    margin-top: 0px !important;
}

.wrong-message .close {
    display: none !important;
}

/*
Error message required field
Because nothing else worked...
*/
#j_idt9 {
    margin-bottom: 15px !important;
    margin-top: 0px !important;
}

/*Error message required field*/
#j_idt11 {
    margin-bottom: 15px !important;
    margin-top: 0px !important;
}

* {
    font-family: Roboto;
    font-weight: lighter;
}